body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:#000;
  padding:25px 0px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  color: #fff;
  }

  .row .fa{
    font-size: 40px;
  }
  
  .club{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 42px;
  }

  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  /* color:gray; */
  font-size:11px;
  /* height: 60px; */
  }
  #copyright{
    margin-top: 70px;
    display:flex;
    justify-content: space-between; 
  }
  #milestone{
    height: 40px;
    width: 160px;
    margin-right: 10px;
    bottom: 10px;
    right: 10px;
  }
  
  .footer .row a{
  text-decoration:none;
  /* color:gray; */
  transition:0.5s;
  }

  #icons{
    margin-top: 6px;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:1.5em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
