
footer {
  width: 100%;
  background: var(--footer-background);

  padding: 2rem 16em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
}

.left {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.footer .sep2 {
  width: 2px;
  height: 50px;
  background: white;
}

.left img {
  height: 60px;
}

.milestone-image {
  filter: invert(0);
}

.right {
  display: flex;
  gap: 3rem;
}

.right .heading {
  margin-bottom: 1rem;
}

.followus {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
}

.links {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.social-icon {
  border: 1px solid white;
  cursor: pointer;
  padding: 0.25rem;
  background: white;
  border-radius: 20rem;
  transition: border 300ms ease-in-out, background 300ms linear;
}

.social-icon:hover {
  cursor: pointer;
  border: 0px;
  background: black;
}
.social-icon:hover svg {
  color: white;
  scale: 1.3;
}

.links svg {
  transition: color 300ms ease-in-out, scale 300ms ease-in-out;
  color: black;
  width: 30px;
  height: 30px;
}

@media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  .left {
    flex-flow: column;
    align-items: flex-start;
  }

  .left .sep2 {
    display: none;
  }

  footer {
    padding: 2rem 2rem;
  }
}
