  body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background:#000; */
    padding: 2rem 2rem 1rem 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Play', sans-serif;
    color: #fff;
  }

  .footer img {
    filter: invert(0);
  }

  .footer .row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    font-size:11px;
  }
  #copyright{
    margin-top: 70px;
    display:flex;
    justify-content: space-between; 
  }
  #milestone{
    height: 40px;
    width: 160px;
    margin-right: 10px;
    bottom: 10px;
    right: 10px;
  }
  
  .footer .row a{
  text-decoration:none;
  /* color:gray; */
  transition:0.5s;
  }

  #icons{
    margin-top: 6px;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row a i{
  font-size:1.5em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
